
@{
    ViewBag.Title = "Message Application";
}

<div class="">
    <div class="messages" id="messages">

    </div>  
</div>



@section scripts
{
    <script src="~/Scripts/DataFetcher.js"></script>
}
